@{
    ViewData["Title"] = "Teams";
}

<h1>Current Teams</h1>
<ul>
@foreach(var team in ViewBag.teams)
{
    <li>@team["Name"]</li>
}
</ul>

<hr>

<h1>Add a Superhero Team</h1>

<form action="/teams/add">
    <label>Team Name:</label>
    <input class="form-control" type="text" name="name">
    <button class="btn btn-success">Add</button>
</form>